h2 {
  font: 14px Arial, sans-serif;
  color: black;
  padding: 10px;
  text-align: center;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#wrapper {
  height: 100%;
  background-color: grey;
  color: black;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer {
  width: 20%;
  position: absolute;
  height: 200%;
  top: 0;
  left: 0;
  background: #222;
}

#menuContainer li {
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: black;
  background-color: grey;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover {
  background: grey;
  color: #ccc;
}

#layoutContainer {
  width: 80%;
  height: 100%;
  background: "grey";
  background-color: grey;
  color: black;
  position: absolute;
  top: 0;
  left: 20%;
  box-shadow: -3px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  width: "500px";
  min-height: 50vh;
  color: black;
  clear: both;
  align-items: center;
  justify-items: center;
  text-align: center;
  text-shadow: black;
  background-color: blanchedalmond;
}
.container input {
  width: "100%";
  clear: both;
}
.editlayout {
  background-color: grey;
  color: black;
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px +2vmin);
}
